@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

h1{
    text-align: center;
}

#AboutUS .container h1{
    font-style: italic;
}

header{
    width: 100%;
    display:-webkit-inline-flex ;
    justify-content: space-between;
    padding-left: 1055px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.dypiemr{
    padding: 20px;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 5px;
}

#menu li a{
    color: blue;
    text-decoration: none;
    font-size: 15px;
}

#menu li a:hover{
    color: red;
}

section{
    width: 100%;
    float: left;
    height: 135vh;
    position: relative;
    background-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: cursive;
}
.container h1{
    color: black;
    margin-top: 50px;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}


#liabraries{
    height: 210vh;
}

.team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}

.team .member{
    background-color:rgb(223, 221, 221);
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    height: 250px;
    line-height: 20px;
    color: rgb(0, 0, 0);
    position: relative;
}
img{
    height:"120px"; 
    border-radius:"60px";
}
.team .member h3{
    color: brown;
    margin-top: 60px;
    font-size: 25px;
    margin-bottom: 20px;
}
#home h1{
    font-size: 50px;
}

.member a{
    color: blue;
}

.member a:hover{
    color: red;
}

.team .member .image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(223, 221, 221);
}
.team .member .image img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    padding: 10px;
}
#home p{
    margin-left: 100px;
    margin-right: 100px;
}

.ocr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}
#ourIdea p{
    font-size: 30px;
    text-align: center;
}
#liabraries h2{
    margin-top: 50px;
    text-align: center;
}

#liabraries h3{
    font-size: 25px;
    margin-left: 40px;
    color: red;
}

.lia-image{
    margin-left: 50px;
}
.lia{
    height: 500px;
    width: 500px;
    position: absolute;
    color: rgb(0, 0, 0);
}
a{
    color: blue;
}
a:hover{
    color: red;
}
.lia{
    text-align: center;
    justify-content: center;
}
.lia .lia-name{
    margin-left: 350px;
    background-color: white;
    width: 800px;
    height: 350px;
}
#AboutUs{
    height: 100vh;
}

.container .lia .lia-name h3{
    padding-right: 30px;
}
#ourIdea{
    height: 285vh;
}
#ourIdea h1{
    font-size: 40px;
}

#ourIdea h2{
    color: red;
    text-align: center;
}

#ourIdea .id-name{
    margin-left: 150px;
    width: 1200px;
}

#ourIdea p{
    font-size: 16px;
}

#ourIdea .text{
    font-size: 20px;
    color: violet;
}

#ourIdea .id-img{
    display: block;
    margin-left: 400px;
}


h4{
    color: green;
    text-align: center;
}
